.protocol{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 10%;
}

.title1{
    margin-bottom: 2%;
}

#radioButton{
    margin-top: 2%;
    margin-left: 1%;
}


.firstThreshold{
    margin-bottom: 10%;
}

#btn{
    margin-bottom: 5%;
    margin-left: 5%;
}
#btn2{
    margin-bottom: 5%;
    margin-left: 2%;
}
