
<div class="row p-4 my-2 mx-1 border shadow">
    <h2>Manage board</h2>
    <h4>Currently detection is: via {{status}}</h4>
</div>

<form class="pt-5" (ngSubmit)="onSubmit()" #form="ngForm">
<table >
    <tr>
        <th>
            <div class="protocol">
                <h4>Select Protocol</h4>
                <div id="radioButton" class="form-check">
                <input type="radio" class="form-check-input" id="radioButton1" name="radioButton" value="wifi" checked
                [(ngModel)]="radioButton">Wi-Fi
                <label class="form-check-label" for="radio1"></label>
              </div>
              <div id="radioButton" class="form-check">
                <input type="radio" class="form-check-input" id="radioButton2" name="radioButton" value="ble" checked
                [(ngModel)]="radioButton">Bluetooth
                <label class="form-check-label" for="radio2"></label>
              </div>
            </div>

            <div class="protocol">
                <h4 >Select Thresholds</h4>


            <div class="firstThreshold">
                <form class="row">

                    <div class="col-md-6">
                        <label></label>
                        <h6>Safe level: distance greather than</h6>
                    </div>

                    <div class="col-md-2">
                        <label for="inputFirstThreshold" class="form-label"></label>
                        <input type="number" min="0" class="form-control" id="inputFirstThreshold"
                               required
                               [(ngModel)]="inputSafeRiskThreshold" name="inputFirstThreshold">  <!-- va aggiunto in tutti-->
                        </div>
                </form>
                <form class="row">

                    <div class="col-md-6">
                        <label></label>
                        <h6>Low risk: distance between than</h6>
                    </div>

                    <div class="col-md-2">
                        <label for="inputSecondThresholdMin" class="form-label"></label>
                        <input type="number" min="0" class="form-control" id="inputSecondThresholdMin"
                               placeholder= "<=" required
                               [(ngModel)]="inputLowRiskThresholdMin" name="inputSecondThresholdMin" >
                        </div>
                    <div class="col-md-2">
                        <label for="inputSecondThresholdMax" class="form-label"></label>
                        <input type="number" min="0" class="form-control" id="inputSecondThresholdMax"
                               placeholder= ">=" required
                               [(ngModel)]="inputLowRiskThresholdMax" name="inputSecondThresholdMax">
                        </div>
                </form>
                <form class="row">

                    <div class="col-md-6">
                        <label></label>
                        <h6>Medium risk: distance between than</h6>
                    </div>

                    <div class="col-md-2">
                        <label for="inputThirdThresholdMin" class="form-label"></label>
                        <input type="number" min="0" class="form-control" id="inputThirdThresholdMin"
                               placeholder= "<=" required
                               [(ngModel)]="inputMediumRiskThresholdMin" name="inputThirdThresholdMin" >
                        </div>
                    <div class="col-md-2">
                        <label for="inputThirdThresholdMax" class="form-label"></label>
                        <input type="number" min="0" class="form-control" id="inputThirdThresholdMax"
                               placeholder= ">=" required
                               [(ngModel)]="inputMediumRiskThresholdMax" name="inputThirdThresholdMax" >
                        </div>
                </form>

                <form class="row">

                    <div class="col-md-6">
                        <label></label>
                        <h6>High risk: distance less than</h6>
                    </div>

                    <div class="col-md-2">
                        <label for="inputFourthThreshold" class="form-label"></label>
                        <input type="number" min="0" class="form-control" id="inputFourthThreshold"
                               placeholder= "<=" required
                               [(ngModel)]="inputHighRiskThreshold" name="inputFourthThreshold">
                        </div>
                </form>

            </div>
            </div>
        </th>
        <th>
            <img class="hd" src="https://image.shutterstock.com/image-vector/cogwheel-gear-mechanism-vector-settings-260nw-226269949.jpg">
        </th>
        </tr>
    </table>
    <button id="btn" type="submit" (click)="reloadPage()" [disabled]="!form.valid" class="btn btn-primary">Submit</button>
    <button id="btn2" class="btn btn-primary"[routerLink]="['/dashboard']">Back</button>

<form>

    <!--(click)="reloadPage()"-->
