.protocol{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 10%;
}

.title1{
    margin-bottom: 2%;
}

#radioButton{
    margin-top: 2%;
    margin-left: 1%;
}

#border{
    margin-right: 10%;
}

.firstThreshold{
    margin-bottom: 10%;
}
