<img class="hd" src="https://microbiologysociety.org/static/e38701da-2ad2-4474-b9f6909c79cf0d65/virus-blog-header-iStock-urfinguss.jpg" alt="distance">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand">Distance Tracking System </a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manage']" ><i class="fa fa-cog" aria-hidden="true"></i></a>
      </li>
    </ul>
  </nav>