
<div class="container p-5">
    <h1 class="text-center mb-5">
      Devices Detected
    </h1>

  
    <table class="table">
  
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Device Name</th>
          <th scope="col">Distance</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointer" *ngFor="let entry of devices; let i = index" (click)="goToDetails(entry.deviceId)">
          <th scope="row"> {{i + 1}}</th>
          <td>{{entry.device }}</td>
          <td>{{entry.distance}}</td>
          <td>{{entry.deviceId}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div>

</div>
  