

<div *ngIf="dataEntry != null " class="container">

    <div class="row p-4 my-2 mx-1 border shadow">
        <button class="btn btn-primary mr-5"[routerLink]="['/dashboard']">Back</button>
        <h3>Details</h3>
    </div>
    <img class="hd" src="https://thumbs.dreamstime.com/b/wifi-e-simboli-del-bluetooth-24381656.jpg">

    <div class="mt-5 p-4">
        <ul class="list-group">
            <li class="list-group-item">Name : {{ dataEntry.device }}</li>
            <li class="list-group-item">Distance : {{dataEntry.distance}}</li>
            <li class="list-group-item">Protocollo: {{dataEntry.protocollo}}</li>
            <li class="list-group-item">Address : {{dataEntry.address}}</li>
            <li class="list-group-item">Data rilevamento : {{dataEntry.deviceId}}</li>

          </ul>
    </div>
</div>